<!DOCTYPE html>
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Select your music file ...</a>
    <form class="d-flex" action = "/uploader" method = "post" enctype = "multipart/form-data">
      <input class="form-control me-2" type="file" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<form class="d-flex" action = "/get_message" method = "get">
<input type="number" name="f1"/>
<input type="number" name="f2"/>
      <button class="btn btn-outline-success" type="submit">Send</button>
    </form>


<div style="padding-left:16px">
  <h2> test app flask </h2>
</div>

</body>
</html>

